.home-header {
    @apply flex flex-col place-content-between;
    @apply h-full;
}

.home-header__wrapper {
    @apply flex flex-row justify-between items-center;
    @apply h-3.75rem;
    @apply p-0.5rem;

    @apply font-arial;
}

.home-header__wrapper-left, .home-header__wrapper-right {
    @apply flex flex-row items-center;
    @apply px-5 space-x-5;
}

.home-header__wrapper-right {
    @apply text-g:white;
}

.home-header__link {
    @apply text-inherit;
    @apply no-underline;
}

.home-header__icon {
    @apply w-1.4rem h-1.4rem;
}

.home-header__icon-wrapper {
    @apply flex flex-row justify-center items-center;
	@apply border-2 rounded-full;
	@apply mx-1;

	border-right-color: #4285f4;
	border-top-color: #db4437;
	border-bottom-color: #0f9d58;
	border-left-color: #f4b400;
}

.home-header__icon-profile {
    @apply w-2.25rem h-2.25rem;
    @apply border-2 border-transparent rounded-full;
}

.home-body__wrapper {
    @apply flex flex-col justify-center items-center;
}

.home-body__image-logo {
    @apply w-20rem;
}