.home-header {
	@apply flex flex-row justify-between items-center;
	@apply h-3.75rem;
	@apply p-0.5rem;

	@apply font-arial;
}

.home-header__nav {
	@apply flex flex-row items-center flex-shrink-0;
	@apply pl-5 pr-2 space-x-4;
}

.home-header__nav--text-white {
	@apply text-g:white;
}

.home-header__nav--theme-light {
	@apply text-g:shark_darker;
}

.home-header__nav--theme-light-text {
	@apply text-g:black;
}

.home-header__link {
	@apply text-current;
	@apply no-underline;
}

.home-header__link:hover {
	@apply underline;
	@apply cursor-pointer;
}

.home-header__link--text-sm {
	@apply text-0.8rem;
}

.home-header__link-group {
	@apply flex flex-row place-content-center items-center space-x-4;
	@apply mr-3;
}

.home-header__icon {
	@apply flex-shrink-0;
	@apply w-1.3rem h-1.3rem;
	@apply cursor-pointer;
}

.home-header__icon--size-md {
	@apply w-1.5rem h-1rem;
}

.home-header__icon--size-lg {
	@apply w-1.5rem h-1.5rem;
}

.home-header__icon--hover:hover {
	@apply ring-9 ring-g:athens_gray_faded rounded-full;
	@apply bg-g:athens_gray_faded;
}

.home-header__icon--theme-light {
	@apply text-g:shuttle_gray;
}

.home-header__icon--theme-light:hover {
	@apply ring-9 ring-g:cod_faded rounded-full;
	@apply bg-g:cod_faded;
}

.home-header__image {
	@apply flex flex-row place-content-center items-center;
	@apply border-2 rounded-full;
	@apply mx-1;

	border-right-color: #4285f4;
	border-top-color: #db4437;
	border-bottom-color: #0f9d58;
	border-left-color: #f4b400;
}

.home-header__user-profile {
	@apply self-stretch flex-grow;
	@apply border-2 border-transparent rounded-full;
}

.home-header__user-profile:hover {
	@apply bg-g:athens_gray_faded;
	@apply cursor-pointer;
}

.home-header__user-profile--theme-light:hover {
	@apply bg-g:cod_faded;
	@apply cursor-pointer;
}
