.home-header {
	@apply flex flex-row justify-between items-center;
	@apply h-60px;

	@apply font-roboto;
}

.home-header__nav {
	@apply flex flex-row justify-between items-center;
	@apply w-full;
	@apply pl-20px pr-10px;
}

.home-header__nav-left,
.home-header__nav-right {
	@apply flex flex-row justify-center items-center;
	@apply text-g:silver;
}

.home-header__nav-left--light {
	@apply text-g:charcoal;
}

.home-header__nav-right {
	@apply font-arial text-13px text-g:white;
}

.home-header__nav-right--light {
	@apply text-g:black_faded;
}

.home-header__link {
	@apply p-5px mr-10px;
}

.home-header__link:hover {
	@apply underline;
}

.home-header__gmail-link {
	@apply mr-5px;
}

.home-header__icon {
	@apply w-20px h-20px;
	@apply ml-10px;
	@apply cursor-pointer;
}

.home-header__icon:hover {
	@apply ring-9 ring-g:athens_gray_faded rounded-full;
	@apply bg-g:athens_gray_faded;
}

.home-header__icon--light:hover {
	@apply ring-9 ring-g:cod_faded rounded-full;
	@apply bg-g:cod_faded;
}

.home-header__grid-icon {
	@apply text-g:white_faded;
	@apply mr-15px;
}

.home-header__grid-icon:hover {
	@apply ring-9 ring-g:athens_gray_faded rounded-full;
	@apply bg-g:athens_gray_faded;
}

.home-header__grid-icon--light {
	@apply text-g:shuttle_gray;
}

.home-header__grid-icon--light:hover {
	@apply ring-g:cod_faded;
	@apply bg-g:cod_faded;
}

.home-header__moon-icon--light {
	@apply text-g:cod;
}

.home-header__image-border {
	@apply flex flex-row place-content-center items-center;
	@apply border-2 rounded-full;
	@apply mx-1;

	border-right-color: #4285f4;
	border-top-color: #db4437;
	border-bottom-color: #0f9d58;
	border-left-color: #f4b400;
}

.home-header__image {
	@apply self-stretch flex-grow;
	@apply border-2 border-transparent rounded-full;
}

.home-header__image:hover {
	@apply bg-g:athens_gray_faded;
	@apply cursor-pointer;
}

.home-header__image--light:hover {
	@apply bg-g:cod_faded;
}

/* .home-header__nav {
	@apply flex flex-row items-center flex-shrink-0;
	@apply pl-5 pr-2 space-x-4;
}

.home-header__nav--text-white {
	@apply text-g:white;
}

.home-header__nav--light {
	@apply text-g:charcoal;
}

.home-header__nav--theme-light-text {
	@apply text-g:black_faded;
}

.home-header__link {
	@apply text-current font-roboto;
	@apply no-underline;
}

.home-header__link:hover {
	@apply underline;
	@apply cursor-pointer;
}

.home-header__link--top-right {
	@apply text-13px font-arial;
}

.home-header__link-group {
	@apply flex flex-row place-content-center items-center space-x-4;
	@apply mr-3;
}

.home-header__icon {
	@apply flex-shrink-0;
	@apply w-18px h-18px;
	@apply ml-10px;
	@apply cursor-pointer;
}

.home-header__icon--theme-dark--hover:hover {
	@apply ring-9 ring-g:athens_gray_faded rounded-full; 
	@apply bg-g:athens_gray_faded;
}

.home-header__icon--theme-light--hover:hover {
	@apply ring-9 ring-g:cod_faded rounded-full;
	@apply bg-g:cod_faded;
}

.home-header__icon--hover:hover {
	@apply ring-9 ring-g:athens_gray_faded rounded-full;
	@apply bg-g:athens_gray_faded;
}

.home-header__icon--theme-light {
	@apply text-g:shuttle_gray;
}

.home-header__icon--theme-light:hover {
	@apply ring-9 ring-g:cod_faded rounded-full;
	@apply bg-g:cod_faded;
}

.home-header__image {
	@apply flex flex-row place-content-center items-center;
	@apply border-2 rounded-full;
	@apply mx-1;

	border-right-color: #4285f4;
	border-top-color: #db4437;
	border-bottom-color: #0f9d58;
	border-left-color: #f4b400;
}

.home-header__user-profile {
	@apply self-stretch flex-grow;
	@apply border-2 border-transparent rounded-full;
}

.home-header__user-profile:hover {
	@apply bg-g:athens_gray_faded;
	@apply cursor-pointer;
}

.home-header__user-profile--theme-light:hover {
	@apply bg-g:cod_faded;
	@apply cursor-pointer;
} */
