:root {
	--tooltip-background-color: black;
	--tooltip-margin: 30px;
	--tooltip-arrow-size: 6px;
}

.tooltip-container {
	@apply inline-block relative;
}

.tooltip-tip {
	@apply absolute;
	@apply rounded-4px;
	@apply p-10px;
	@apply font-14px font-arial leading-1 whitespace-nowrap;
	@apply z-100;

	left: 50%;
	transform: translateX(-50%);
	background: var(--tooltip-background-color);
}

.tooltip-tip::before {
	@apply absolute;
	@apply border-1 border-transparent;
	@apply h-0 w-0;
	@apply pointer-events-none;

	content: ' ';
	left: 50%;
	border-width: var(--tooltip-arrow-size);
	margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.tooltip-tip::after {
	@apply absolute;
	@apply border-1 border-transparent;
	@apply h-0 w-0;
	@apply pointer-events-none;

	content: ' ';
	left: 50%;
	bottom: 97%;
	border-width: var(--tooltip-arrow-size);
	margin-left: calc(var(--tooltip-arrow-size) * -1);
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	border-bottom-color: rgb(32, 33, 36);
}

.tooltip-tip.top {
	top: calc(var(--tooltip-margin) * -1);
}

.tooltip-tip.top::before {
	top: 100%;
	border-top-color: var(--tooltip-background-color);
}

.tooltip-tip.right {
	left: calc(100% + var(--tooltip-margin));
	top: 50%;
	transform: translateX(0) translateY(-50%);
}

.tooltip-tip.right::before {
	left: calc(var(--tooltip-arrow-size) * -1);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-right-color: var(--tooltip-background-color);
}

.tooltip-tip.bottom {
	bottom: calc(var(--tooltip-margin) * -1);
}

.tooltip-tip.bottom::before {
	bottom: 100%;
	border-bottom-color: var(--tooltip-background-color);
}

.tooltip-tip.left {
	left: auto;
	right: calc(100% + var(--tooltip-margin));
	top: 50%;
	transform: translateX(0) translateY(-50%);
}

.tooltip-tip.left::before {
	left: auto;
	right: calc(var(--tooltip-arrow-size) * -2);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-left-color: var(--tooltip-background-color);
}

.tooltip-tip.sharp {
	@apply text-g:silver font-roboto text-11px;
	@apply border-1 border-g:cod rounded-none;
	@apply bg-g:charcoal;
}

.tooltip-tip.sharp::before {
	border-bottom-color: rgb(60, 64, 67);
}

.tooltip-tip.rounded {
	/* @apply text-g:; */
	@apply border-1 border-g:cod rounded-md;
}

.tooltip-tip.rounded::before {
	@apply border-transparent;
}

.tooltip-tip.rounded::after {
	/* @apply text-g:; */
	@apply border-transparent;
}