/* home page */
.search-page__form {
	@apply w-584px h-44px;
}

.search-page__form-group {
	@apply flex flex-row justify-center align-center items-stretch;
	@apply bg-transparent;
	@apply border-1 border-g:shuttle_gray rounded-full;
	@apply h-full;
	@apply px-8px;
}

.search-page__form-group:focus-within,
.search-page__form-group:hover {
	@apply bg-g:shark;
	@apply border-g:shark;
	box-shadow: 0 1px 6px 0 rgba(23, 23, 23, 1);
}

.search-page__form-group--light {
	@apply border-g:iron;
}

.search-page__form-group--light:focus-within,
.search-page__form-group--light:hover {
	@apply bg-g:white;
	@apply border-g:white;
	box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28);
}

.search-page__input {
	@apply flex-1;
	@apply text-g:athens_gray font-arial text-16px;
	@apply bg-transparent border-inherit;
	@apply pl-4px;
	@apply outline-none;
}

.search-page__input--light {
	@apply text-g:black;
}

input.search-page__input[type='text'][value=''] ~ .search-page__clear-icon,
input.search-page__input[type='text'][value=''] ~ .search-page__span {
	@apply invisible;
}

.search-page__span {
	@apply self-center;
	@apply bg-g:shuttle_gray;
	@apply w-1px h-25px;
}

.search-page__span--light {
	@apply bg-g:iron_darker;
}

.search-page__icon {
	@apply text-g:gray_chateau;
	@apply self-center;
	@apply w-20px h-20px;
	@apply ml-10px mr-10px;
}

.search-page__clear-icon {
	@apply text-g:rolling_stone;
	@apply w-24px h-24px;
	@apply cursor-pointer;
}

.search-page__mic-icon {
	@apply w-22px h-22px;
	@apply cursor-pointer;
}

.search-page__mic-icon--light {
	@apply text-g:cornflower_blue;
}

.search-form__buttons {
	@apply flex flex-row justify-center items-center space-x-3;
	@apply mt-30px;
}

.search-form__button {
	@apply border-1 border-transparent rounded;
	@apply text-g:athens_gray;
	@apply bg-g:shark;
	@apply w-auto h-36px;
	@apply px-16px py-8px pt-10px;
}

.search-form__button:hover {
	@apply border-1 border-g:shuttle_gray rounded;
}

.search-form__button--light {
	@apply text-g:charcoal;
	@apply bg-g:athens_gray_lighter;
}

.search-form__button--light:hover {
	@apply border-g:iron_darker;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

/* results page */
.results-page__form {
	@apply w-690px h-44px;
}

.results-page__form-group {
	@apply flex flex-row justify-center align-center items-stretch;
	@apply bg-g:shark;
	@apply border-1 border-g:shark rounded-full;
	@apply h-full;
	@apply pl-20px pr-10px;
}

.results-page__form-group:focus-within,
.results-page__form-group:hover {
	box-shadow: 0px 4px 12px 0px rgba(23, 23, 23, 0.9);
}

.results-page__input {
	@apply flex-1;
	@apply text-g:athens_gray font-arial text-16px;
	@apply bg-transparent border-inherit;
	@apply outline-none;
}

input.results-page__input[type='text'][value=''] ~ .results-page__clear-icon,
input.results-page__input[type='text'][value=''] ~ .results-page__span {
	@apply invisible;
}

.results-page__span {
	@apply self-center;
	@apply bg-g:shuttle_gray;
	@apply w-1px h-25px;
}

.results-page__icon {
	@apply self-center;
	@apply w-20px h-20px;
	@apply ml-10px mr-10px;
}

.results-page__clear-icon {
	@apply text-g:rolling_stone;
	@apply w-24px h-24px;
}

.results-page__mic-icon {
	@apply w-22px h-22px;
}

.results-page__search-icon {
	@apply text-g:malibu;
	@apply w-23px h-23px;
	@apply ml-5px;
}
